:root{
    --red: #bf3636;
    --orange: #d04936;
    --yellow: #ffcc14;
    --green: #5a5a23;
    --blue: #303464;
    --pink: #fe4b7a;
    --purple: #741a60;
    --brown: #40130e;

    --dv-fuchsia: #817;
    --dv-red: #a35;
    --dv-pink: #c66;
    --dv-orange: #e94;
    --dv-yellow: #ed0;
    --dv-lime: #9d5;
    --dv-mint: #4d8;
    --dv-teal: #2cb;
    --dv-lt-blue: #0bc;
    --dv-med-blue: #09c;
    --dv-dk-blue: #36b;
    --dv-purple: #639;

    --white: #fff;
    --lt-gray: #eaeaea;
    --med-gray: #555;
    --dk-gray: #222;
    --black: #000;

    --fonts: Raleway, Arial, sans-serif;

    --box-shadow-sm: -3px 3px 7px var(--med-gray);
    --box-shadow-lg: -6px 6px 10px var(--med-gray);
}

*{
    font-family: var(--fonts);
    line-height: 1.3;
    color: var(--dk-gray);
    font-size: 1rem;
}

body{
    box-sizing: border-box;
    background-color: var(--lt-gray);
}

header, footer{
    padding: 2rem 1rem;
    background-color: var(--white);
    width: 100%;
    max-width: 1200px;
    box-shadow: var(--box-shadow-sm);
}

header{
    margin: 0 auto 2rem auto;
}

h1{
    font-size: 2em;
    margin: 0;
    text-align: center;
}

h1, h2{
    grid-column: 1/-1;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

h2{ font-size: 1.75rem; margin: .25rem; }
h3{ font-size: 1.5rem; margin: .25rem; }

ul{ display:grid; grid-template-columns:1fr 1fr 1fr; gap:12px; }

a{ color: var(--blue); }
a:hover{ text-decoration:none; }
a:focus{
    text-decoration:none;
    outline:4px solid var(--dv-med-blue);
    outline-offset:2px;
}

main{
    width:100%;
    max-width:1200px;
    margin:2rem auto;
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(300px,1fr));
    grid-gap:1rem;
}

main > section{
    display:block;
    width:calc(100% - 2rem);
    max-width:calc(500px - 2rem);
    min-height:300px;
    margin:0 auto;
    padding:1rem;
    background-color:var(--white);
    box-shadow:var(--box-shadow-sm);
}

p{ padding:1rem; font-size:1.2rem; max-width:65ch; margin:0 auto; }
img, svg{ display:block; width:100%; height:auto; }
span{ display:block; }

#image h2{ padding:12px 0; background:var(--blue); color:white; }
#nav h2{ padding:12px 0; background:var(--green); color:white; }
#nav ul{ display:block; list-style:none; padding:0; text-align:center; }
#nav ul li{ display:block; width:100%; }
#nav ul li a{
    display:block;
    width:90%;
    margin:16px auto;
    text-decoration:none;
    padding:16px;
    background:var(--green);
    color:white;
    box-shadow:var(--box-shadow-lg);
}
#nav ul li a:hover{ background:white; color:var(--green); box-shadow:var(--box-shadow-sm); }

.third-h2{ background:var(--dv-fuchsia); color:white; padding:12px 0; }
input, label, select, textarea{
    display:block;
    width:95%;
    margin:.5rem auto;
    font-family:var(--fonts);
    font-size:1.1rem;
}
input, select{ height:2rem; border:2px solid var(--dk-gray); }
input:focus{ outline:4px solid var(--orange); border:none; }
input:focus{ outline-color:var(--dv-dk-blue); }
label{ font-size:1.25rem; margin-top:16px; }
.required{ font-size:1.5rem; font-weight:bold; color:var(--purple); }
input[type="submit"]{
    background:var(--purple);
    color:white;
    padding:16px;
    box-shadow:var(--box-shadow-lg);
}
input[type="submit"]:hover{ background:var(--lt-gray); color:var(--purple); box-shadow:var(--box-shadow-sm); }
input[type="submit"]:focus{ outline:4px solid var(--dv-dk-blue); }

.blue-text{ color:var(--blue); }
#list ul{ margin:32px auto; width:fit-content; }
#list li{ font-size:1.25rem; color:var(--dv-pink); }
#list ul li::marker{ content:"\2730"; font-size:3rem; }
#list li:first-child{ color:var(--purple); }
#list li:last-child{ color:var(--dv-lt-blue); }

#more div{ display:flex; justify-content:center; align-items:center; }
#more > div{ width:300px; height:300px; background:var(--dv-red); }
#more div div{ width:250px; height:250px; background:var(--dv-orange); }
#more .third{ width:200px; height:200px; background:var(--dv-yellow); }
#more .third div{ width:150px; height:150px; background:var(--dv-mint); }
#more .inner{ width:100px; height:100px; background:var(--dv-lt-blue); }

#software{ display:grid; grid-template-columns:repeat(3,1fr); gap:12px; }
#software a{ background:var(--dv-lime); box-shadow:var(--box-shadow-lg); }
#software a:hover{ background:var(--dk-gray); }
#software svg{ stroke:var(--dk-gray); }

#table table{ width:100%; border-collapse:collapse; }
#table caption{ font-weight:bold; }
#table th{ background:var(--blue); color:white; }
#table tbody tr:nth-child(odd){ background:var(--dv-orange); }
#table tbody td:first-child{ font-weight:bold; }
th, td{ border:1px solid var(--dk-gray); padding:4px; }
#table tfoot{ font-weight:bold; }

#borders div{ display:flex; justify-content:center; }
#borders > div{ width:300px; height:300px; border:6px solid var(--red); }
#borders div div{ width:250px; height:250px; border:6px dotted var(--dv-orange); }
#borders .dashed{ width:200px; height:200px; border:6px dashed var(--dv-yellow); }
#borders .dashed div{ width:150px; height:150px; border:6px double var(--dv-mint); }
#borders .dashed div div{ width:100px; height:100px; border:6px inset var(--dv-lt-blue); }

#pseudo-els{ position:relative; }
#pseudo-els div{ width:275px; height:275px; background:var(--dv-mint); margin:40px auto; position:relative; }
#pseudo-els div::before{
    content:"\2730";
    font-size:4rem;
    background:var(--dk-gray);
    color:white;
    border-radius:50%;
    position:absolute;
    top:-20px;
    left:-20px;
}
#pseudo-els img{ width:200px; margin:0 auto; }

footer{ text-align:center; margin:2rem auto 0; }
